<h1>Create a new employee:</h1>
<br>
<h4>
  Put your details here: 
</h4>
  <div class="container">
       <input type="text" class="form-control" placeholder="First name" 
       aria-label="Employee's first name" aria-describedby="button-addon2">
       <input type="text" class="form-control" placeholder="Last name" 
       aria-label="Employee's last name" aria-describedby="button-addon2">
       <input type="text" class="form-control" placeholder="Email" 
       aria-label="Employee's email" aria-describedby="button-addon2">
    <input type="text" class="form-control" placeholder="Password" 
       aria-label="Employee's password" aria-describedby="button-addon2">
    </div>
<br>
<div class="container">
    <button type="button" class="btn btn-primary">Submit</button> 
    </div>

  
    
  
